.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 8%;
  min-height: 90vh;
}

.hero-text {
  max-width: 550px;
}

.hero-text h1 {
  font-size: 48px;
  margin-bottom: 20px;
  white-space: nowrap; /* keep the text on one line */
}

.hero-text span {
  color: #e6007e;
}

.hero-text h3 {
  margin-bottom: 20px;
  font-weight: 500;
}

.hero-text p {
  line-height: 1.6;
  margin-bottom: 30px;
  color: #555;
}

.buttons {
  display: flex;
  gap: 15px;
}

.primary {
  background: #e6007e;
  color: white;
  border: none;
  padding: 12px 22px;
  border-radius: 8px;
  cursor: pointer;
}

.secondary {
  background: transparent;
  border: 2px solid #e6007e;
  padding: 12px 22px;
  border-radius: 8px;
  cursor: pointer;
  color: #e6007e;
}

.hero-image img {
  width: 400px;
  border-radius: 20px;
}

/* Responsive */
@media (max-width: 900px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }

  .hero-image img {
    width: 300px;
    margin-top: 40px;
  }

  .buttons {
    justify-content: center;
  }
}
